### Sourcing and Cleaning Data
* Demographic data was sourced from the United States Census Bureau
* Website linked to a CSV file containing data for each of Texas's 36 Districts

In [1]:
import pandas as pd
texas_raw = pd.read_csv('Texas_District_all.csv')
texas_raw.head()

,Topic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,...,District 32 Estimate,District 32 MOE,District 33 Estimate,District 33 MOE,District 34 Estimate,District 34 MOE,District 35 Estimate,District 35 MOE,District 36 Estimate,District 36 MOE
0,People,Sex and Age,Total population,717376,(+/- 4297 ),772262,(+/- 22258 ),870763,(+/- 5912 ),747188,...,763452,(+/- 14474 ),753565,(+/- 20125 ),727595,(+/- 10226 ),830041,(+/- 23073 ),742474,(+/- 14998 )
1,People,Sex and Age,Male,350771,(+/- 2960 ),386880,(+/- 12448 ),427505,(+/- 3170 ),366929,...,377440,(+/- 9236 ),381642,(+/- 11080 ),362711,(+/- 6472 ),418971,(+/- 14480 ),369563,(+/- 9053 )
2,People,Sex and Age,Female,366605,(+/- 3894 ),385382,(+/- 12905 ),443258,(+/- 4286 ),380259,...,386012,(+/- 8448 ),371923,(+/- 12546 ),364884,(+/- 6320 ),411070,(+/- 12348 ),372911,(+/- 9615 )
3,People,Sex and Age,Under 5 years,47384,(+/- 1716 ),51543,(+/- 5149 ),52842,(+/- 2015 ),46877,...,53596,(+/- 4235 ),66182,(+/- 4965 ),59815,(+/- 3355 ),58235,(+/- 5872 ),48014,(+/- 4405 )
4,People,Sex and Age,5 to 9 years,48198,(+/- 3325 ),47548,(+/- 5193 ),64589,(+/- 3802 ),51707,...,41715,(+/- 3800 ),62812,(+/- 4615 ),55595,(+/- 4077 ),58498,(+/- 4988 ),48958,(+/- 3645 )

In [2]:
labelled = texas_raw.set_index('Title') # setting the index to the metric measured
labelled.head()

,Topic,Subject,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,District 04 MOE,...,District 32 Estimate,District 32 MOE,District 33 Estimate,District 33 MOE,District 34 Estimate,District 34 MOE,District 35 Estimate,District 35 MOE,District 36 Estimate,District 36 MOE
Title,,,,,,,,,,,,,,,,,,,,,
Total population,People,Sex and Age,717376,(+/- 4297 ),772262,(+/- 22258 ),870763,(+/- 5912 ),747188,(+/- 6228 ),...,763452,(+/- 14474 ),753565,(+/- 20125 ),727595,(+/- 10226 ),830041,(+/- 23073 ),742474,(+/- 14998 )
Male,People,Sex and Age,350771,(+/- 2960 ),386880,(+/- 12448 ),427505,(+/- 3170 ),366929,(+/- 5061 ),...,377440,(+/- 9236 ),381642,(+/- 11080 ),362711,(+/- 6472 ),418971,(+/- 14480 ),369563,(+/- 9053 )
Female,People,Sex and Age,366605,(+/- 3894 ),385382,(+/- 12905 ),443258,(+/- 4286 ),380259,(+/- 4040 ),...,386012,(+/- 8448 ),371923,(+/- 12546 ),364884,(+/- 6320 ),411070,(+/- 12348 ),372911,(+/- 9615 )
Under 5 years,People,Sex and Age,47384,(+/- 1716 ),51543,(+/- 5149 ),52842,(+/- 2015 ),46877,(+/- 2022 ),...,53596,(+/- 4235 ),66182,(+/- 4965 ),59815,(+/- 3355 ),58235,(+/- 5872 ),48014,(+/- 4405 )
5 to 9 years,People,Sex and Age,48198,(+/- 3325 ),47548,(+/- 5193 ),64589,(+/- 3802 ),51707,(+/- 3012 ),...,41715,(+/- 3800 ),62812,(+/- 4615 ),55595,(+/- 4077 ),58498,(+/- 4988 ),48958,(+/- 3645 )

In [3]:
# pivoting the table...

table_headers = list(map(lambda x: 'District 0'+str(x)+' Estimate', range(1, 10))) + \
                list(map(lambda x: 'District '+str(x)+' Estimate', range(10, 37))) # new headers
cleaned = labelled.loc[:, table_headers].transpose().dropna(axis=1) # dropping the NaN columns
cleaned.head()

Title,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified
District 01 Estimate,717376,350771,366605,47384,48198,51573,55748,46266,89700,84615,...,755,1557,107,721,123,2009,181,1380,1738,26
District 02 Estimate,772262,386880,385382,51543,47548,50169,48379,52740,120336,109310,...,1082,2920,209,1136,278,1999,283,1954,1763,47
District 03 Estimate,870763,427505,443258,52842,64589,67845,63070,48799,108126,139858,...,1164,3775,378,1181,398,3250,293,1915,1496,31
District 04 Estimate,747188,366929,380259,46877,51707,54277,49803,45939,87212,91532,...,602,1062,61,613,107,1676,169,1248,1582,23
District 05 Estimate,769579,386656,382923,54681,56250,62782,51360,48438,101307,102959,...,589,890,50,554,113,1453,153,1090,1246,15

Now that the raw data table is cleaned up, we want to use this data to construct independent variables that will be helpful for our study. We thus create a new dataframe that will neatly have our new variables. 

The index of this new dataframe will be the districts.

In [4]:
df = pd.DataFrame(index = cleaned.index)

### Independent Variables

For our study, we thought about what metrics would lead to a particular district vote Republican.
* Proportion of district that is of the baby-boomer generation and older
    * The baby-boomer generation is defined (on Wikipedia) as people born in the year **1964 and later**. Since the raw data given gives us the number of people in each age group, we took the age group *45 to 54* and multiplied that by 0.2, as a fifth of the people in that group would be considered 'baby boomers' in the year 2017
    * We also took this proportion out of people aged **18 and up**, because we wanted to only look at people eligible to vote
* Proportion of the district that is White
* Proportion of the district that is male
* Proportion of the district that was born in Texas
    * We took this proportion out of the number of people in the district that were born in the United States
* Mean income
* Education attainment
    * We looked at the proportion of the district that achieved an education **past high school** -- including Associate's degrees, Bachelor's degrees, and higher
* Unemployment rate

We have a function for each new column!
(with the exception of mean income, that we pull directly from the cleaned table)

In [5]:
def babyboomers(row):
    teens = [int(row['15 to 19 years'])*0.4]
    youngbbbs = [int(row['45 to 54 years'])*0.2]
    agegroups = ['20 to 24 years','25 to 34 years','35 to 44 years','45 to 54 years','55 to 59 years',
                 '60 to 64 years','65 to 74 years','75 to 84 years','85 years and over']
    popn = sum(teens + list(map(lambda a: int(row[a]), agegroups)))
    age_groups = ['55 to 59 years', '60 to 64 years','65 to 74 years','75 to 84 years','85 years and over']
    return sum(youngbbbs + list(map(lambda a: int(row[a]), age_groups)))/popn

def prop_white(row):
    return int(row['White'])/int(row['Total population'].head(1))

def prop_male(row):
    return int(row['Male'])/int(row['Total population'].head(1))

def texas_born(row):
    return int(row['State of residence'])/int(row['Born in United States'])

def higheredu(row):
    return (int(row["Associate's degree"])+int(row["Bachelor's degree"])+ \
            int(row["Graduate or professional degree"]))/int(row["Population 25 years and over"])

def unemployment(row):
    return int(row['Unemployed'])/int(row['Civilian labor force'].head(1))

In [6]:
# adding columns into our new dataframe!

df['older_proportion'] = cleaned.apply(lambda row: babyboomers(row),axis=1)
df['proportion_white'] = cleaned.apply(lambda row: prop_white(row),axis=1)
df['proportion_male'] = cleaned.apply(lambda row: prop_male(row),axis=1)
df['born_in_TX'] = cleaned.apply(lambda row: texas_born(row),axis=1)
df['mean_income'] = pd.to_numeric(cleaned['Mean household income (dollars)'])
df['higher_education'] = cleaned.apply(lambda row: higheredu(row),axis=1)
df['unemployment_rate'] = cleaned.apply(lambda row: unemployment(row),axis=1)
# df.to_csv('/Users/jim_jack/Documents/mod_2_project/mod_2_project_ds102218/population_data.csv')

In [7]:
df.corr()

,older_proportion,proportion_white,proportion_male,born_in_TX,mean_income,higher_education,unemployment_rate
older_proportion,1.000000,0.489234,-0.052985,-0.074147,0.107922,0.020705,-0.267486
proportion_white,0.489234,1.000000,0.305883,0.183913,-0.134012,-0.177832,-0.167455
proportion_male,-0.052985,0.305883,1.000000,0.239094,-0.151797,-0.301555,0.054639
born_in_TX,-0.074147,0.183913,0.239094,1.000000,-0.880158,-0.896623,0.688006
mean_income,0.107922,-0.134012,-0.151797,-0.880158,1.000000,0.933985,-0.588324
higher_education,0.020705,-0.177832,-0.301555,-0.896623,0.933985,1.000000,-0.649680
unemployment_rate,-0.267486,-0.167455,0.054639,0.688006,-0.588324,-0.649680,1.000000