In [1]:
import pandas as pd
import glob

In [69]:
df_sen = pd.read_csv('results_csvs/US_Sen.csv')
df_tx_gov = pd.read_csv('results_csvs/TX_Gov.csv')
df_tx_09 = pd.read_csv('results_csvs/TX_9.csv')
df_tx_30 = pd.read_csv('results_csvs/TX_30.csv')

In [49]:
df_tx_gov[df_tx_gov["County"] == "ALL COUNTIES"]

,Unnamed: 0,County,REP,DEM,LIB,Total Votes,Registered Voters,Turn Out%,Provisional Ballots,Precincts Reported,Total Precincts
0,3,ALL COUNTIES,4638582,3528705,140125,8307412,15793257,52.60%,46090,7965,7965

In [76]:
df_tx_09.iloc[0]["County"]

'ALL COUNTIES'

In [75]:
df_tx_30.iloc[0]["REP"]

166102

In [5]:
df_tx_09[df_tx_09["County"]=="ALL COUNTIES"]["REP"][0]

135941

In [6]:
new_columns = ["REP","Total Votes","R_%"]
test_list = [df_sen,df_tx_09,df_tx_gov]

In [7]:
# path =r'C:\DRO\DCL_rawdata_files' # use your path
# allFiles = glob.glob(path + "/*.csv")

# list_ = []

# for file_ in allFiles:
#     df = pd.read_csv(file_,index_col=None, header=0)
#     list_.append(df)

In [8]:
#test adding information to a df outside of a for loop
df_list = []
for data in test_list:
    df_dict = {}
    df_dict["REP"] = data[data["County"]=="ALL COUNTIES"]["REP"][0]
    df_dict["Total Votes"] =  data[data["County"]=="ALL COUNTIES"]["Total Votes"][0]
    df_list.append(df_dict)
    

pd.DataFrame(df_list)

       REP  Total Votes
0  4244204      8334221
1   135941       152653
2  4638582      8307412

In [9]:
path = '/Users/jim_jack/Documents/mod_2_project/mod_2_project_ds102218/results_csvs'
allFiles = glob.glob(path + "/*.csv")
lower = str.rfind(allFiles[0],'/')+1
upper = str.rfind(allFiles[0],'.')
allFiles[0][lower:upper]

'TX_32'

In [62]:
test_name = 'Users/jim_jack/Documents/mod_2_project/mod_2_project_ds102218/results_csvs/TX_32.cs'
def file_name_finder(file_name):
    lower = str.rfind(file_name,'/')+1

    upper = str.rfind(file_name,'.')

    return file_name[lower:upper]

In [37]:
path = '/Users/jim_jack/Documents/mod_2_project/mod_2_project_ds102218/results_csvs'
allFiles = glob.glob(path + "/*.csv")
one = allFiles[7]
df_one = pd.read_csv(one)
df_one[df_one["County"]=="ALL COUNTIES"]

Empty DataFrame
Columns: [Unnamed: 0, County, REP, DEM, Total Votes, Precincts Reported, Total Precincts]
Index: []

In [89]:
def create_summary_df():
    path = '/Users/jim_jack/Documents/mod_2_project/mod_2_project_ds102218/results_csvs'
    allFiles = glob.glob(path + "/*.csv")
    df_summary = []
    for data in allFiles:
        df_dict = {}
        local_df = pd.read_csv(data)
        df_dict['Race'] = file_name_finder(data)
        if local_df.iloc[0]["County"] == "ALL COUNTIES":
#             print('standard - '+str(df_dict))
            df_dict['REP'] = local_df[local_df["County"]=="ALL COUNTIES"]["REP"][0]
            df_dict['Total Votes'] = local_df[local_df["County"]=="ALL COUNTIES"]["Total Votes"][0]
        else:
#             print("double check - "+str(df_dict))
            df_dict['REP'] = local_df.iloc[0]["REP"]
            df_dict['Total Votes'] = local_df.iloc[0]["Total Votes"]
        
        df_summary.append(df_dict)
    return pd.DataFrame(df_summary)

In [134]:
df_draft = create_summary_df()
df_draft

        REP    Race  Total Votes
0    125600   TX_32       273909
1    185268   TX_26       311860
2    124958   TX_27       207079
3     26007   TX_33       118609
4    152012   TX_19       201953
5    162288   TX_25       302700
6    144393   TX_31       285191
7    166102   TX_30       182420
8    132992   TX_24       262433
9     38306   TX_18       183978
10   138249   TX_20       170976
11    57157   TX_34       142804
12    50276   TX_35       192816
13   176913   TX_21       351430
14   102903   TX_23       209058
15   152368   TX_22       296449
16   160783   TX_36       221534
17   200367    TX_8       272732
18   135941    TX_9       152653
19   188003    TX_4       248373
20   130404    TX_5       209147
21   115418    TX_7       242986
22  4244204  US_Sen      8334221
23   135779    TX_6       255543
24   139012    TX_2       262924
25   168775    TX_3       311070
26   167734    TX_1       231969
27   168090   TX_13       206093
28   172205   TX_12       267807
29   154807   TX_10       304111
30   174749   TX_11       217883
31    63593   TX_15       164284
32    28045   TX_29       117246
33   117178   TX_28       138825
34   137582   TX_14       231873
35    48495   TX_16       179619
36   134375   TX_17       236364
37  4638582  TX_Gov      8307412

In [144]:
def add_leading_zero(row):
    if len(row) == 4:
        return row[0:3] +str(0) + row[-1] 
    else:
        return row

In [140]:
df_draft["Race"] = df_draft["Race"].apply(add_leading_zero)
df_draft
# df.loc[df['First Season'] > 1990, 'First Season'] = 1

        REP    Race  Total Votes
0    125600   TX_32       273909
1    185268   TX_26       311860
2    124958   TX_27       207079
3     26007   TX_33       118609
4    152012   TX_19       201953
5    162288   TX_25       302700
6    144393   TX_31       285191
7    166102   TX_30       182420
8    132992   TX_24       262433
9     38306   TX_18       183978
10   138249   TX_20       170976
11    57157   TX_34       142804
12    50276   TX_35       192816
13   176913   TX_21       351430
14   102903   TX_23       209058
15   152368   TX_22       296449
16   160783   TX_36       221534
17   200367   TX_08       272732
18   135941   TX_09       152653
19   188003   TX_04       248373
20   130404   TX_05       209147
21   115418   TX_07       242986
22  4244204  US_Sen      8334221
23   135779   TX_06       255543
24   139012   TX_02       262924
25   168775   TX_03       311070
26   167734   TX_01       231969
27   168090   TX_13       206093
28   172205   TX_12       267807
29   154807   TX_10       304111
30   174749   TX_11       217883
31    63593   TX_15       164284
32    28045   TX_29       117246
33   117178   TX_28       138825
34   137582   TX_14       231873
35    48495   TX_16       179619
36   134375   TX_17       236364
37  4638582  TX_Gov      8307412

In [143]:
df_cleaned = df_draft.set_index("Race")
df_sorted = df_cleaned.sort_index()
df_sorted

            REP  Total Votes
Race
TX_01    167734       231969
TX_02    139012       262924
TX_03    168775       311070
TX_04    188003       248373
TX_05    130404       209147
TX_06    135779       255543
TX_07    115418       242986
TX_08    200367       272732
TX_09    135941       152653
TX_10    154807       304111
TX_11    174749       217883
TX_12    172205       267807
TX_13    168090       206093
TX_14    137582       231873
TX_15     63593       164284
TX_16     48495       179619
TX_17    134375       236364
TX_18     38306       183978
TX_19    152012       201953
TX_20    138249       170976
TX_21    176913       351430
TX_22    152368       296449
TX_23    102903       209058
TX_24    132992       262433
TX_25    162288       302700
TX_26    185268       311860
TX_27    124958       207079
TX_28    117178       138825
TX_29     28045       117246
TX_30    166102       182420
TX_31    144393       285191
TX_32    125600       273909
TX_33     26007       118609
TX_34     57157       142804
TX_35     50276       192816
TX_36    160783       221534
TX_Gov  4638582      8307412
US_Sen  4244204      8334221

In [145]:
def prop_r_vote(row):
    return int(row['REP'])/int(row['Total Votes'])
df_sorted['prop_r_vote'] = df_sorted.apply(lambda row: prop_r_vote(row),axis=1)

In [147]:
# df_sorted.to_csv('/Users/jim_jack/Documents/mod_2_project/mod_2_project_ds102218/election_data.csv')